@font-face {font-family: "iconfont_zentao";
  src: url('fonts-zentao/iconfont.eot?t=1546843513362'); /* IE9 */
  src: url('fonts-zentao/iconfont.eot?t=1546843513362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts-zentao/iconfont.woff?t=1546843513362') format('woff'),
  url('fonts-zentao/iconfont.ttf?t=1546843513362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('fonts-zentao/iconfont.svg?t=1546843513362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont_zentao {
  font-family: "iconfont_zentao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-xitongcaidan:before {
  content: "\e696";
}

.icon-xitongfanhui:before {
  content: "\e697";
}

.icon-zonghe:before {
  content: "\e69e";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-shouyefill:before {
  content: "\e6ca";
}

.icon-shujukanban:before {
  content: "\eb66";
}

.icon-jizhanguanli:before {
  content: "\eb69";
}

.icon-yunyingzhongxin:before {
  content: "\ebd0";
}

.icon-zuzhiqunzu:before {
  content: "\ebd8";
}

.icon-wuxiandianbo:before {
  content: "\ec79";
}

